# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Backend
backend/uploads/*
!backend/uploads/.gitkeep
backend/*.log
logs/

# Frontend / Expo
.expo/
dist/
web-build/
*.jks
*.keystore

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*

# Misc
*.tmp
*.bak
